.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #1b3e70;
  color: #ffffff;
  height: 49px;
  align-items: center;
  padding: 20px;
}

.logout-btn {
  color: #ffffff;
  border: 1px solid;
  background: transparent;
  border-radius: 5%;
}
